.forward-enter {
    transform: translateY(100%);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    z-index: 1100;
}
.forward-enter-active {
    transition: transform 300ms;
    transform: translateY(0);
}
.backward-exit {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    z-index: 2;
    transition: transform 300ms;
    transform: translateY(100%);
}

.backward-exit-active {
    transition: transform 300ms;
    transform: translateY(100%);
}
.skip-exit {
    display: none;
}